// lang vars
case process.env.NODE_ENV
  when 'ru'
    - var one = 'Острый суп с фунчезой'
    - var two = 'Бараньи ребрышки с овощами'
    - var three = 'Долма'
    - var four = 'Манты'
    - var five = 'Цыпленок табака'
    - var six = 'Закуска с языком по-восточному'
    - var seven = 'Салат "Коктем"'
    - var eight = 'Десерт "Брауни"'
    - var nine = 'Десерт "Муравейник"'
    - var ten = 'Десерт "Тирамису"'
  when 'eng'
    - var one = 'Bifu Ramen'
    - var two = 'Gyutan yasai nimono'
    - var three = 'Danki'
    - var four = 'Canadian maki'
    - var five = 'Kohitsuji no grill'
    - var six = 'Seafood miso soup'
    - var seven = 'Sake teriyaki'
    - var eight = 'Sake hatororu'
    - var nine = 'Tuna sasimisarada'
    - var ten = 'Fuji'
  when 'kz'
    - var one = 'Бифу рамен'
    - var two = 'Гютан ясай нимоно'
    - var three = 'Данки'
    - var four = 'Канадиан маки'
    - var five = 'Кохицуджи но гриль'
    - var six = 'Сифудо мисо сиру'
    - var seven = 'Сяке терияки'
    - var eight = 'Сяке хато рору'
    - var nine = 'Туна сашими сарада'
    - var ten = 'Фудзи'
  
section#menu_rest
  a(name="menu")
  .container
    h2 Меню
    .sl_menu
      .slide
        img(src="images/dishes/1.jpg")
        h3 #{one}
      .slide
        img(src="images/dishes/2.jpg")
        h3 #{two}
      .slide
        img(src="images/dishes/3.jpg")
        h3 #{three}
      .slide
        img(src="images/dishes/4.jpg")
        h3 #{four}
      .slide
        img(src="images/dishes/6.jpg")
        h3 #{six}
      .slide
        img(src="images/dishes/7.jpg")
        h3 #{seven}
      .slide
        img(src="images/dishes/8.jpg")
        h3 #{eight}
      .slide
        img(src="images/dishes/9.jpg")
        h3 #{nine}
      .slide
        img(src="images/dishes/10.jpg")
        h3 #{ten}
